#bck{
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}

.addLogForm .inputGroup select{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}